#box1 {
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    position: sticky;
    /* top: 0px; */
    /* left: 0px; */
    top: 0;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(143, 112, 65);
    position: absolute;
    bottom: 50px;
    top: 50px;
}