<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background lecture</title>
    <link rel="stylesheet" href="../css/background.css">
</head>

<body>
    <h1>Background lecture</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ipsum eius laudantium dolorum quis ex, commodi
        sunt recusandae labore nihil officia error veniam ducimus repellendus provident itaque in sequi est repellat
        totam? Accusamus ipsam cumque, vero, consectetur nisi odio commodi impedit debitis blanditiis quod animi
        recusandae laboriosam quasi! Voluptatibus nesciunt velit officia ad veritatis totam sed dolor? Quod labore nam
        tempore atque magni obcaecati laudantium exercitationem rem molestiae eaque minima magnam autem, reiciendis quam
        possimus, quo esse deserunt mollitia nulla velit? Quae iste nam natus tempora quibusdam incidunt aut harum
        itaque, voluptatem nostrum nulla laudantium esse ratione repellendus dolore id!</p>
</body>

</html>