<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Properties lecture</title>
    <link rel="stylesheet" href="../css/displayProp.css">
</head>

<body>
    <h1>Display Properties Lecture</h1>
    <!-- 
        display
            ระบุวิธีการที่ Element จะแสดงผล
        block
            จะใช้ความกว้างทั้งหมดที่มีอยู่
            สามารถกำหนด width, heigth ได้
        inlune
            ใช้ความกว้างแค่เท่าที่ต้องการ
            ไม่สามารถกำหนด width, heigth ได้
        inline-block
            ใช้ความกว้างแค่เท่าที่ต้องการแบบ inline
            แต่สามารถกำหนดขนาดได้แบบ block
        none
            จะไม่แสดง element

        visibility: hidden;
            ซ่อน element แต่ยังคงพื้นที่เดิมเอาไว้
     -->

    <div>div</div>
    <span>span</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptates similique dignissimos, aliquam
        quisquam eaque ipsam odio, quia nesciunt ea, quis laborum molestiae minus officiis aut cum distinctio?
        Repellendus, maxime.</p>
</body>

</html>