<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Menus</title>
    <link rel="stylesheet" href="../css/dropdown.css">
</head>

<body>
    <div class="dropdown">
        <button>food</button>
        <div class="content">
            <a href="#">Appli</a>
            <a href="#">Orange</a>
            <a href="#">Banana</a>
        </div>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem iusto dignissimos qui rerum deleniti
        quasi nulla, nobis ex deserunt accusantium consectetur ab dicta minima excepturi nam fugiat odit suscipit.</p>
</body>

</html>