<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float lecture</title>
    <link rel="stylesheet" href="../css/float.css">
</head>

<body>
    <img src="./imgs/cool.jpg" height="150" alt="cool" id="img1">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, tenetur architecto esse quasi sapiente quisquam.
        Quos quidem aut autem, ex magnam illo mollitia perferendis exercitationem nihil quisquam aspernatur corrupti
        expedita quas tempora eius sunt ratione est quasi. Dolore cumque nulla a veniam culpa quidem perspiciatis
        consectetur, molestiae veritatis obcaecati ipsam deleniti aliquid, nam explicabo cupiditate deserunt doloribus?
        Eveniet excepturi minima quisquam hic minus iure, unde error consectetur reprehenderit asperiores id. Quam
        dignissimos nesciunt ratione magnam nobis cupiditate quae incidunt facere reprehenderit placeat, culpa vel
        quisquam. Natus perferendis doloremque, facilis at dolorum expedita possimus earum fugiat ex ad nam nulla ipsa!
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, tenetur architecto esse quasi sapiente quisquam.
        Quos quidem aut autem, ex magnam illo mollitia perferendis exercitationem nihil quisquam aspernatur corrupti
        expedita quas tempora eius sunt ratione est quasi. Dolore cumque nulla a veniam culpa quidem perspiciatis
        consectetur, molestiae veritatis obcaecati ipsam deleniti aliquid, nam explicabo cupiditate deserunt doloribus?
        Eveniet excepturi minima quisquam hic minus iure, unde error consectetur reprehenderit asperiores id. Quam
        dignissimos nesciunt ratione magnam nobis cupiditate quae incidunt facere reprehenderit placeat, culpa vel
        quisquam. Natus perferendis doloremque, facilis at dolorum expedita possimus earum fugiat ex ad nam nulla ipsa!
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, tenetur architecto esse quasi sapiente quisquam.
        Quos quidem aut autem, ex magnam illo mollitia perferendis exercitationem nihil quisquam aspernatur corrupti
        expedita quas tempora eius sunt ratione est quasi. Dolore cumque nulla a veniam culpa quidem perspiciatis
        consectetur, molestiae veritatis obcaecati ipsam deleniti aliquid, nam explicabo cupiditate deserunt doloribus?
        Eveniet excepturi minima quisquam hic minus iure, unde error consectetur reprehenderit asperiores id. Quam
        dignissimos nesciunt ratione magnam nobis cupiditate quae incidunt facere reprehenderit placeat, culpa vel
        quisquam. Natus perferendis doloremque, facilis at dolorum expedita possimus earum fugiat ex ad nam nulla ipsa!
    </p>
</body>

</html>