<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Height and Width lecture</title>
    <link rel="stylesheet" href="../css/hw.css">
</head>

<body>
    <h1>Height and Width lecture</h1>

    <div class="container">
        <div class="box">
            <h2>This is number #1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum vero rem aut suscipit cum. Quia
                dignissimos facere ab dolorum vitae ad illum pariatur, tempore animi voluptates, quis alias necessitatibus?
            </p>
        </div>
        <div class="box">
            <h2>This is number #2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum vero rem aut suscipit cum. Quia
                dignissimos facere ab dolorum vitae ad illum pariatur, tempore animi voluptates, quis alias necessitatibus?
            </p>
        </div>
    </div>
</body>

</html>