<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="../css/imageGallery.css">
</head>
<body>
    <div class="gallery">
        <a href="../img/food1.jpg" target="_blank">
            <img src="../img/food1.jpg" alt="food">
        </a>
        <div class="description">ข้าวผัด</div>
    </div>

    <div class="gallery">
        <a href="../img/food2.jpg" target="_blank">
            <img src="../img/food2.jpg" alt="food">
        </a>
        <div class="description">ต้มยำกุ้ง</div>
    </div>
</body>
</html>