<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="../css/navigation.css">
</head>

<body>
    <h1>OnlySubs</h1>

    <nav class="navbar">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Product</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>

    <main>
        <h3>This is the home page</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio molestias tempore cupiditate magnam? Possimus
            nam, non perferendis mollitia velit error consequuntur harum nostrum odit animi numquam, dolor dolores
            aperiam corrupti.</p>
    </main>
</body>

</html>