<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination Lecture</title>
    <link rel="stylesheet" href="../css/pagination.css">
    <!-- 
        ใช้สำหรับแบ่งหน้าออกเป็นส่วน ๆ
     -->
</head>

<body>
    <h1>This is page #1</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quae maxime facere ex ipsam tempora natus,
        pariatur aliquid consequatur magni praesentium tenetur qui placeat fugiat impedit, iusto est, porro nihil?</p>

    <div class="pagination">
        <a href=""><</a>
        <a href="">1</a>
        <a href="" class="active">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">></a>
    </div>
</body>

</html>