<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pseudo Element lecture</title>
    <link rel="stylesheet" href="../css/pseudoElement.css">
    <!-- 
        Pseudo element
            keyword ที่ใช้เพิ่มหลังจาก selector ใน style
            เช่น 
                h1::first-letter 
                {

                }
    -->
</head>

<body>
    <h1>Hello World</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione dicta doloremque quia quaerat quidem alias quae
        sequi earum non. Id, eligendi? Sed inventore, facere laborum sit labore excepturi minus eos?</p>
    <ul id="fruit">
        <li id="apple">apple</li>
        <li id="orange">orange</li>
        <li id="banana">banana</li>
    </ul>
</body>

</html>