<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transformation Lecture</title>
    <link rel="stylesheet" href="../css/transformation.css">
    <!-- 
        Transform
            ใช้สำหรับ หมุน เอียง หรือทำอย่างอื่นได้กับ element
            https://youtu.be/HGTJBPNC-Gw?si=ZkmUCfLMZTMPg5_h&t=13115
     -->
</head>
<body>
    <div id="box1">Hi</div>
    <div class="box" id="box2">Hi</div>
    <div class="box" id="box3">Hi</div>
    <div class="box" id="box4">Hi</div>

    <button onclick="callHello()" class="login-btn">Login</button>

    <script>
        function callHello() {
            console.log('Hello World')
        }
    </script>
</body>
</html>