<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Layout Lecture</title>
    <link rel="stylesheet" href="../css/webLayout.css">
    <!-- 
        semantic tags
            เป็นแท็กที่มีความหมาย โดยจะดีต่อ SEO
            โดยจะประกอบด้วย
                header
                    ใช้สำหรับเก็บส่วนเนื่อหาข้างบนของแอพ
                nav
                    ใช้เก็บ navigation bar
                main
                    ใช้สำหรับเก็บเนื้อหาหลัก โดยจะมี sub element ได้แก่
                        section
                            ใช้สำหรับจัดเก็บเนื่อหาหลักที่อยู่ตรงกลาง
                        aside
                            ใช้สำหรับเนื้อหาที่อยู่ด้านข้าง เช่น
                                author information
                                fuc fact
                                quates
                                extermal link
                                comment
                                relate content
                        article
                            ใช้จัดเก็บเนื้อหาที่เกี่ยวกับ
                                ข่าวใหม่
                                ประกาศรับสมัครงาน
                                บล็อกโพสต์
                        div
                footer
                    เนื้อหาส่วนสุดท้ายของเว็บ โดยจะจัดเก็บ
                        ข้อมูลผู้สร้าง
                        ข้อมูลลิขสิทธ์
     -->
</head>

<body>
    <header>
        <h1>header</h1>
    </header>
    <nav class="navbar">

    </nav>
    <main>
        <aside>
            <h2>This is aside</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia optio eveniet sit, autem iste illo
                aspernatur est, provident exercitationem perferendis quasi architecto officia dicta consequatur. Odit
                neque distinctio ipsum?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia optio eveniet sit, autem iste illo
                aspernatur est, provident exercitationem perferendis quasi architecto officia dicta consequatur. Odit
                neque distinctio ipsum?</p>
        </aside>
        <section>
            <h2>This is a section</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia optio eveniet sit, autem iste illo
                aspernatur est, provident exercitationem perferendis quasi architecto officia dicta consequatur. Odit
                neque distinctio ipsum?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia optio eveniet sit, autem iste illo
                aspernatur est, provident exercitationem perferendis quasi architecto officia dicta consequatur. Odit
                neque distinctio ipsum?</p>
        </section>
        <article>
            <h2>This is a article</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia optio eveniet sit, autem iste illo
                aspernatur est, provident exercitationem perferendis quasi architecto officia dicta consequatur. Odit
                neque distinctio ipsum?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia optio eveniet sit, autem iste illo
                aspernatur est, provident exercitationem perferendis quasi architecto officia dicta consequatur. Odit
                neque distinctio ipsum?</p>
        </article>
    </main>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>

</html>