* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}

.navbar {
    background-color: rgb(158, 158, 158);
    height: 50px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
}

article {
    width: 40%;
    float: left;
}

footer {
    display: block;
    clear: both; /* ใช้สำหรับ clear float */
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}

/* ถ้าหน้าจอต่ำกว่า 600px */
@media screen and (max-width: 600px) {
    aside, section, article {
        width: 100%;
    }
}